[Desktop Entry]
Version=1.0
Type=Application
Name=FluTube
Exec=flutube %u
Icon=flutube
StartupNotify=false
Terminal=false
StartupWMClass=flutube
Categories=Utility;
